.cart-container {
    width: 50%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ca3d3d;
    border-radius: 10px;
    background-color: #f9f9f9;

  }
  
  
  .cart-item {
    display: flex;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid #eee;
    border: 2px solid black;

  }
  
  .cart-item-image {
    width: 20;
    height: auto;
    margin-right: 20px;
    border-radius: 5px;
  }
  
  .cart-item-details {
    flex-grow: 1;
  }
  
  .cart-item-details h3 {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
  }
  
  .cart-item-details p {
    margin: 5px 0;
    font-size: 14px;
  }
  
  .cart-buttons {
    margin-top: 10px;
  }
  
  .quantity-btn {
    padding: 5px 10px;
    margin: 0 5px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .quantity-btn:hover {
    background-color: #0056b3;
  }
  
  h2, h3 {
    color: #333;
  }
  
  h3 {
    margin-top: 10px;
    font-size: 22px;
  }
  