.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-box {
    width: calc(20% - 8px); 
    margin: 5px;
    text-align: center;
    transition: border 0.3s ease;
}

.product-box:hover {
    border: 2px solid #888; 
}

.product-box img {
    max-width: 100%;
    margin-top: 20px;
    transition: transform 0.3s ease; 
}

.product-box:hover img {
    transform: scale(1.05); 
}

.price {
    font-weight: bold;
    margin: 10px 0;
}

button {
    padding: 10px;
    cursor: pointer;
    background-color: red; 
    color: white;
    border: none;
    outline: none;
    transition: background-color 0.3s ease, transform 0.2s ease; 
}

button:active {
    background-color: black; 
}

button:hover {
    transform: scale(1.05); 
}
